#skip-navbar {
    background: #BE2C2C;
    padding: 1rem;
}

#skip-navbar h1 {
    color: #fff;
    font-size: 3rem;
    margin: 0;
}

#skip-search-bar {
    width: 100%;
}

.message--error {
    color: red
}

li {
    list-style: none
}

.form-card {
    margin: 5rem auto;
    width: 50%
}
