#container {
    margin-top: 1rem;
}

#skip-navbar {
    background: #BE2C2C;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center
}

#skip-navbar h1 {
    color: #fff;
    font-size: 3rem;
    margin: 0;
}

#skip-navbar--menu {
    display: flex;
}

#skip-navbar--menu li a {
    border: solid 1px #fff;
    color: #fff;
    padding: 0.8rem 1rem;
    margin-left: 0.5rem;
}

#skip-navbar--menu li a:hover,
#skip-navbar--menu li a.selected {
    background: #fff;
    color: #BE2C2C
}

#skip-search-bar {
    width: 100%;
}

.message--error {
    color: #BE2C2C;
    display: block;
    padding-bottom: 1rem
}

li {
    list-style: none;
    margin-left: none
}

input {
    margin-bottom: 1rem !important
}


h4 {
    font-size: 3rem;
    margin-bottom: 2rem
}

.skip-form {
    width: 40rem;
    background: #fff;
    margin: 5% auto;
    padding: 4rem 5rem 5rem;
}

.skip-form .input-group {
    width: 100%
}

.button-group {
    margin-top: 1.5rem
}

ul {
    margin: 0;
    padding: 0
}

.list li {
    background: #fff;
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row
}

.product-price {
    padding: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.product-add-cart {
    width: 20rem;
    text-align: right;
}

h3 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #BE2C2C;
    text-transform: uppercase;
}

h4 {
    font-size: 1.8rem;
    text-transform: uppercase;
}

h5 {
    margin-top
    : 0;
    font-size: 1.5rem;
    font-weight: bold;
}